
<%= form_for([@note, @comment]) do |f| %>
<%= f.label :'Message:'%><br>
<br>
<%= f.text_area :message %><br>
<br>
<%= f.submit %>
<% end %>

#<h1>Comments#edit</h1>
#<p>Find me in app/views/comments/edit.html.erb</p>

