<h1>Finish Creating Your Profile</h1>

<%= form_for @user do |f| %>
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
    <br>
    <%= f.submit "Done" %>
  <% end %>

  ####### maybe add neighborhood here instead of full name


