


<% if @current_user %>
 <h1>Welcome, <%= @user.full_name %>!</h1>
  Logged in as <%= @current_user.email %>
<% end %>

<br>

Taking you to back to home
<meta HTTP-EQUIV="REFRESH" content="3; url=http://www.localhost:3000/neighborhoods">

