<%= link_to "Make An Account", new_user_path %>
<br>
<%= link_to "Login", login_path %>
<br>
<% if @current_user %>
  (Welcome back! Logged in as <%= @current_user.email %>)
<% end %>
<br>


<h1 class="centered-title">Welcome to Chi-Town-Tasks</h1>


<br>
<div class="neighborhoods-list">
<% @neighborhoods.each do |neighborhood| %>
<%= link_to neighborhood.name, neighborhood_path(neighborhood) %> 
<% end %>
</div>

