<h1 class="neighborhood-title"><%= @neighborhood.name %></h1>
<ul class="business-names">
  <% @neighborhood.businesses.each do |business| %>
  <li><%= link_to business.name, business_path(business) %> </li>
  <% end %>
</ul>